@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 2em;
}

.navbar img {
  width: 200px;
  height: 200px;
}

.navbar .right-col {
  margin-top: 1em;
  margin-right: 5em;
}

.navbar .right-col h1 {
  font-size: .8em;
}

.navbar .right-col p {
  font-size: .8em;
  color: gray;
}

.navbar .right-col span {
  color: #ff5e00;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar nav ul li {
  float: left;
  margin-right: .8em;
}

.navbar nav ul li a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 1em;
}

.navbar nav ul li a:hover {
  color: #ff5e00;
}

section {
  margin: 1em auto 2em auto;
  padding: 2em 4em;
}

.hero {
  margin-top: 0;
  height: 400px;
  background: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero .Explain {
  position: absolute;
  width: 350px;
  background: rgba(9, 10, 12, 0.5);
  color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  position: absolute;
  top: 150px;
  border-bottom: 12px solid rgba(255, 94, 0, 0.7);
}

.hero .Explain .container {
  white-space: preline;
}

.works-section {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  text-align: center;
  color: gray;
}

@media only screen and (max-width: 768px) {
  .works-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works-section div img {
    width: 450px;
  }
}

.works-section img {
  width: 100%;
}

.works-section div {
  margin: 1em;
}

.other-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .other-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.other-works div {
  margin: 1em;
  text-align: center;
  color: gray;
}

.other-works img {
  width: 100%;
}

.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

@media only screen and (max-width: 768px) {
  .illustration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .illustration h1, .illustration h2 {
    text-align: center;
  }
  .illustration p {
    text-align: justify;
  }
}

.illustration .left-col h2 {
  color: gray;
}

.illustration .left-col ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.illustration .left-col ul li {
  cursor: pointer;
  margin-bottom: 2em;
  color: #1E90FF;
}

.illustration .left-col ul li:hover {
  color: gray;
}

.illustration .right-col {
  width: 400px;
  color: gray;
}

.illustration .right-col span {
  color: #ff5e00;
  font-weight: 900;
  font-size: 1.2em;
}

.contact-section {
  background: #111111;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

@media only screen and (max-width: 768px) {
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-section div {
    margin-bottom: 2em;
    text-align: center;
  }
}

.contact-section .connect ul li {
  margin-bottom: 1em;
}

.contact-section .connect ul li:hover {
  color: #1E90FF;
  cursor: pointer;
}

.contact-section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-section iframe {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

.contact-section .address {
  width: 50%;
  margin-left: 2em;
  margin-right: 1em;
}
