@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    
}



.navbar{
    display: flex;
    place-content: space-between;
    padding: 2em;
    img{
        width:200px;
        height: 200px;
    }
    .right-col{
        margin-top: 1em;
        margin-right: 5em;

        h1{
            font-size: .8em;
        }

        p{
            font-size: .8em;
            color: gray;
        }

        span{
            color: rgb(255, 94, 0);
        }
        
    }

    nav{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        
            li{
                float: left;
                margin-right: .8em;

             

                a{
                    text-decoration: none;
                    color: gray;
                    font-weight: bold;
                    font-size: 1em;
                    &:hover{
                        color:rgb(255, 94, 0);
                    }
                }
            }
        }
    }
}

section{
    margin: 1em auto 2em auto;
    padding: 2em 4em;
}

.hero{
    margin-top: 0;
    height: 400px;
    background: url(/Website/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    .Explain{
        width:30%;
        background: rgba(9,10,12,.5);
        color: rgba(255,255,255,0.8);
        padding: 1em;
        position: relative;
        top: 150px;
        border-bottom: 12px solid rgba(255, 94, 0,0.7);

   
        
    }
    
}

.works-section{

    display: flex;
    place-content: space-around;
    text-align: center;
    color: gray;

    img{
        width: 500px;
    }

    div{
        padding:.5em; 
        width: 500px;
    }  
 
}

.other-works{
    display: flex;
    place-content: space-between;

    div{
        width: 370px;
        text-align: center;
        color: gray;
    }

    img{
        width: 370px;
    }
}

.illustration{
    display: flex;
    place-content: space-between;

    .left-col{
        h2{
            color: gray;
        }
        ul{ 
            margin: 0;
            padding: 0;
            li{
                cursor:pointer;
                margin-left: 1em;
                margin-bottom: 2em;
                color:#1E90FF;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .right-col{
        width: 400px;
        color: gray;

   
        span{
            color:rgb(255, 94, 0);
            font-weight:900;
            font-size:1.2em;
            
        }
    }
}

.contact-section{
    background: #111111;
    color: rgba(255, 255, 255, 0.8);
   
    display: flex;
    place-content: space-between;
    
    .connect{
        ul{
            li{
                margin-bottom:1em;
                &:hover{
                    color:#1E90FF;
                    cursor: pointer;
                }
            }
        }
    }

    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;

    
    }
    iframe{
        width: 500px;
        height: 400px;
        margin: 0;
        padding: 0;
    }

    .address{
        width: 300px;
    }

 
}