@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    
}



.navbar{
    display: flex;
    place-content: space-between;
    padding: 2em;
    img{
        width:200px;
        height: 200px;
    }
    .right-col{
        margin-top: 1em;
        margin-right: 5em;

        h1{
            font-size: .8em;
        }

        p{
            font-size: .8em;
            color: gray;
        }

        span{
            color: rgb(255, 94, 0);
        }
        
    }

    nav{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        
            li{
                float: left;
                margin-right: .8em;

             

                a{
                    text-decoration: none;
                    color: gray;
                    font-weight: bold;
                    font-size: 1em;
                    &:hover{
                        color:rgb(255, 94, 0);
                    }
                }
            }
        }
    }
}

section{
    margin: 1em auto 2em auto;
    padding: 2em 4em;
}

.hero{
    
    margin-top: 0;
    height: 400px;
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
    
    .Explain{
        position: absolute;
      
        width:350px;
        background: rgba(9,10,12,.5);
        color: rgba(255,255,255,0.8);
        padding: 1em;
        position: absolute;
        top: 150px;
        border-bottom: 12px solid rgba(255, 94, 0,0.7);
        
      

        .container{
            white-space: preline;
         
            
            
            
        }
        
    }
    
}

.works-section{

    @media only screen and(max-width:768px){
        flex-direction: column;
        align-items: center;
        div{
            img{
                width: 450px;
            }
        }
    }
    
    padding: 0;
    display: flex;
    justify-items: flex-end;
    text-align: center;
    color: gray;

    img{
        width: 100%;
    }

    //border: 5px solid black;

    div{
        //border: 2px solid red;
        //padding:.5em; 
        margin: 1em;
        //max-width: 500px;
    }  
 
}

.other-works{
    display: flex;
    place-content: space-between;

    @media only screen and(max-width:768px){
        flex-direction: column;
        align-items: center;
    }

   padding:0;


    div{
        
        margin: 1em;
        text-align: center;
        color: gray;
       
    }

    img{
        width: 100%;
    }
}

.illustration{
    display: flex;
    place-content: space-between;

    @media only screen and(max-width:768px){
        flex-direction: column;
        align-items: center;

        h1,h2{
            text-align: center;
        }
        p{
            text-align: justify;
        }
    }

    .left-col{
        h2{
            color: gray;
        }
        ul{ 
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{     
                cursor:pointer;
                
                margin-bottom: 2em;
                color:#1E90FF;
                
                &:hover{
                    color: gray;
                }
            }
        }
    }

    .right-col{
        width: 400px;
        color: gray;

   
        span{
            color:rgb(255, 94, 0);
            font-weight:900;
            font-size:1.2em;
            
        }
    }
}

.contact-section{
    background: #111111;
    color: rgba(255, 255, 255, 0.8);
   
    display: flex;
    place-content: space-between;

    @media only screen and(max-width:768px){
        flex-direction: column;
        align-items: center;

        div{
            margin-bottom: 2em;
            text-align: center;
        }
    }
    
    .connect{
        ul{
            li{
                margin-bottom:1em;
                &:hover{
                    color:#1E90FF;
                    cursor: pointer;
                }
            }
        }
    }

    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;

    
    }
    iframe{
        width: 100%;
       height: 400px;
        margin: 0;
        padding: 0;
    }

    .address{
        width: 50%;
        margin-left: 2em;
        margin-right: 1em;
       // border: 3px solid white;
    }

 
}